{% extends "base.html" %}
{% block content %}

<h1><strong>Users</strong></h1>

<table class="uk-table uk-table-divider uk-width-auto">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Username</th>
      <th>Full Name</th>
      <th>Admin</th>
      <th>Inviter</th>
    </tr>
  </thead>
  <tbody>
    {% for target_user in user_table %}
    <tr>
      <td>{{ target_user.id }}</td>
      <td>{{ target_user }}</td>
      <td>{{ target_user.fullname }}</td>
      <td>{{ target_user.is_admin }}</td>
      <td>{{ target_user.is_inviter }}</td>
      <td>
        {% if (not target_user.username == 'admin') or user.username == 'admin' %}
        <form action="{{ url_for('website.routes.auth.reset', user_id=target_user.id) }}" style="display: inline">
          <input class="uk-button uk-button-default uk-button-small uk-width-small" type="submit" value="Reset password">
        </form>
        {% endif %}
      </td>
      <td>
        {% if (not target_user.id == user.id) and (not target_user.username == 'admin') %}
        <form method="POST" action="{{ url_for('website.routes.auth.make_admin') }}" style="display: inline">
          <input type="hidden" value="{{target_user.id}}" name="user_id">
          {% if target_user.is_admin %}
          <input type="hidden" value=0 name="state">
          {% else %}
          <input type="hidden" value=1 name="state">
          {% endif %}
          <input class="uk-button uk-button-default uk-button-small uk-width-small" type="submit" value="{{ 'Revoke' if target_user.is_admin else 'Make' }} admin">
        </form>
        {% endif %}
      </td>
      <td>
        {% if (not target_user.id == user.id) and (not target_user.username == 'admin') %}
        <form method="POST" action="{{ url_for('website.routes.auth.make_inviter') }}" style="display: inline">
          <input type="hidden" value="{{target_user.id}}" name="user_id">
          {% if target_user.is_inviter %}
          <input type="hidden" value=0 name="state">
          {% else %}
          <input type="hidden" value=1 name="state">
          {% endif %}
          <input class="uk-button uk-button-default uk-button-small uk-width-small" type="submit" value="{{ 'Revoke' if target_user.is_inviter else 'Make' }} inviter">
        </form>
      {% endif %}
      </td>
    </tr>
    {% endfor %} 
  </tbody>
</table>

<br><a href="{{ url_for('website.routes.auth.register') }}">Add User</a>

{% endblock %}