<html>
  <head>
    <title>IHI Patient Data Entry Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit.css') }}">

    <script src="{{ url_for('static', filename='uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit-icons.min.js') }}"></script>

    {% block head %}{% endblock %}

  </head>
  <body>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-margin-left uk-logo" href="/">IHI Data Entry Portal</a>
      </div>

      <div class="uk-navbar-right">
      {% if user %}
      <div class="uk-padding-small">
        Logged in as <b>{{ user }}</b>
      </div>
      {% if user.is_admin %}
      <div class="uk-padding-small">
        <a href="{{ url_for('website.routes.auth.admin') }}">Admin Panel</a>
      </div>
      {% endif %}
      {% if user.is_inviter %}
      <div class="uk-padding-small">
        <a href="{{ url_for('website.routes.auth.register') }}">Add User</a>
      </div>
      {% endif %}
      <div class="uk-padding-small">
        <a href="{{ url_for('website.routes.auth.logout') }}">Log Out</a>
      </div>
      {% endif %}
      </div>
      
    </nav>

    <div id="content" class="uk-padding">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>