{% extends "base.html" %}
{% block content %}

{% for msg in err %}
<p>{{ msg }}</p>
{% endfor %}

{% if mode != 'r' %}
<h2>{{ 'Update' if patient else 'Add' }} patient</h2>
{% endif %}

<hr class="uk-divider-icon">

<form class="uk-form-horizontal" method="POST" action="" onsubmit="return confirm('Save {{ 'changes' if patient else 'patient' }}?');">

  <fieldset class="uk-fieldset" {{'disabled="disabled"' if mode == 'r'}}>

    <h3>A. General Patient Information</h3>

    <div uk-grid>
      <div>
        <label class="uk-form-label" for="facility">Health Facility Name</label><br>
        <input class="uk-input uk-form-small" name="facility" id="facility" type="text" value="{{ patient.facility if patient }}">
      </div>
      <div>
        <label class="uk-form-label" for="physician">Physician/Nurse</label><br>
        <input class="uk-input uk-form-small" name="physician" id="physician" type="text" value="{{ patient.physician if patient }}">
      </div>
      <div>
        <label class="uk-form-label" for="date">Date</label><br>
        <input class="uk-input uk-form-small" name="date" id="date" type="date" value="{{ patient.date.strftime('%Y-%m-%d') if patient else today}}">
      </div>
    </div>

    <div uk-grid>
      <div>
        <label class="uk-form-label" for="patient_id"><b>PARTICIPANT ID</b></label><br>
        <input class="uk-input uk-form-small" name="patient_id" id="patient_id" type="text" {{ 'disabled' if patient }} value="{{ patient.patient_id if patient else new_patient_id }}" required>
      </div>

      <div>
        <label class="uk-form-label" for="birth_month">Birth Month</label><br>
        <select class="uk-select uk-form-small" name="birth_month" id="birth_month" >
          {% for i in range(1, 13) %}
          <option {% if patient %}{{ 'selected' if i==patient.birth_month }}{% else %}{{ 'selected' if i==1 }}{% endif %} value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
      </div>

      <div>
        <label class="uk-form-label" for="birth_year">Birth Year</label><br>
        <input class="uk-input uk-form-small" name="birth_year" id="birth_year" type="number" value="{{ patient.birth_year if patient else 1970 }}">
      </div>

    </div>

    <hr class="uk-divider-icon">

    <h4>A(2). Sample Information</h4>

    <label class="uk-text-small" for="taking_medication">Was the patient taking malaria-related medication at the time the blood sample was obtained?</label><br>
    <table class="uk-table uk-table-small uk-margin-small uk-width-auto">
      <tr>
        <td class="uk-padding-remove">
          <fieldset class="uk-fieldset" id="taking_medication">
            <label><input class="uk-radio" type="radio" value=1 name="taking_medication" {{ 'checked' if (patient['taking_medication'] == 1)}}> Yes</label>
            <label><input class="uk-radio" type="radio" value=2 name="taking_medication" {{ 'checked' if (patient['taking_medication'] == 2)}}> No</label>
            <label><input class="uk-radio" type="radio" value=3 name="taking_medication" {{ 'checked' if (patient['taking_medication'] == 3)}}> Unclear</label>
          </fieldset>
        </td> 
      </tr>
    </table>

    <br>

    <label class="uk-text-small" for="bad_slide">Was the slide used for microscopy diagnosis found to be damaged, or unsuitable for imaging in any way?</label><br>
    <table class="uk-table uk-table-small uk-margin-small uk-width-auto">
      <tr>
        <td class="uk-padding-remove">
          <fieldset class="uk-fieldset" id="bad_slide">
            <label><input class="uk-radio" type="radio" value=1 name="bad_slide" {{ 'checked' if (patient['bad_slide'] == 1)}}> Yes (damaged)</label>
            <label><input class="uk-radio" type="radio" value=2 name="bad_slide" {{ 'checked' if (patient['bad_slide'] == 2)}}> No (good sample)</label>
          </fieldset>
        </td> 
      </tr>
    </table>
    <div class="uk-width-large">
      <label class="uk-form-label" for="bad_slide_notes">Slide quality notes</label><br>
      <textarea class="uk-textarea" rows="4" cols="50" name="bad_slide_notes" id="bad_slide_notes">{{ patient.bad_slide_notes if patient }}</textarea>
    </div>

    <div class="uk-column-1-2 uk-width-xxlarge">
    {% for key, description in badslide_map.items() %}
      <div class="uk-margin-right">
        <label><input class="uk-checkbox" type="checkbox" name="{{ key }}" {{ 'checked' if patient[key]}}> {{ description }}</label>
      </div>
    {% endfor %}
    </div>

    <hr class="uk-divider-icon">

    <h3>B. Current Health Information</h3>

    <div class="uk-width-small">
      <label class="uk-form-label" for="date_onset">Illness date of onset</label><br>
      <input class="uk-input uk-form-small" name="date_onset" id="date_onset" type="date" value="{{ patient.date_onset.strftime('%Y-%m-%d') if patient else today}}">
    </div>

    <table class="uk-table uk-width-auto">
      <thead>
        <tr>
          <th>Symptom</th>
          <th>Current condition</th> 
          <th>Details</th>
        </tr>
      </thead>
      {% for key, symptom in symptom_map.items() %}
      <tr>
        <td>{{ symptom }}</td>
        <td>
          <fieldset class="uk-fieldset" id="{{ key }}">
            <label><input class="uk-radio" type="radio" value=1 name="{{ key }}" {{ 'checked' if (patient[key] == 1)}}> Yes</label>
            <label><input class="uk-radio" type="radio" value=2 name="{{ key }}" {{ 'checked' if (patient[key] == 2)}}> No</label>
            <label><input class="uk-radio" type="radio" value=3 name="{{ key }}" {{ 'checked' if (patient[key] == 3)}}> Unclear</label>
          </fieldset>
        </td> 
        <td>
          <input class="uk-input uk-form-small" name="{{ key }}_details" id="{{ key }}_details" type="text" value="{{ patient['{}_details'.format(key)] if patient }}">
        </td>
      </tr>
      {% endfor %}
    </table>

    <hr class="uk-divider-icon">

    <div class="uk-width-large">

      <label class="uk-form-label" for="provisional_diagnosis">Provisional Diagnosis</label><br>
      <table class="uk-table uk-table-small uk-margin-small uk-width-auto">
        <tr>
          <td class="uk-padding-remove">
            <fieldset class="uk-fieldset" id="provisional_malaria">
              <label><input class="uk-radio" type="radio" value=1 name="provisional_malaria" {{ 'checked' if (patient['provisional_malaria'] == 1)}}> Malaria Positive</label>
              <label><input class="uk-radio" type="radio" value=2 name="provisional_malaria" {{ 'checked' if (patient['provisional_malaria'] == 2)}}> Malaria Negative</label>
              <label><input class="uk-radio" type="radio" value=3 name="provisional_malaria" {{ 'checked' if (patient['provisional_malaria'] == 3)}}> Unclear</label>
            </fieldset>
          </td> 
        </tr>
      </table>

      <label class="uk-form-label" for="provisional_diagnosis">Provisional Diagnosis Notes</label><br>
      <textarea class="uk-textarea" rows="4" cols="50" name="provisional_diagnosis" id="provisional_diagnosis">{{ patient.provisional_diagnosis if patient }}</textarea>

      <br>

      <label class="uk-form-label" for="provisional_diagnosis">MRDT Results</label><br>
      <table class="uk-table uk-table-small uk-margin-small uk-width-auto">
        <tr>
          <td class="uk-padding-remove">
            <fieldset class="uk-fieldset" id="provisional_mrdt">
              <label><input class="uk-radio" type="radio" value=1 name="provisional_mrdt" {{ 'checked' if (patient['provisional_mrdt'] == 1)}}> MRDT-Positive</label>
              <label><input class="uk-radio" type="radio" value=2 name="provisional_mrdt" {{ 'checked' if (patient['provisional_mrdt'] == 2)}}> MRDT-Negative</label>
              <label><input class="uk-radio" type="radio" value=3 name="provisional_mrdt" {{ 'checked' if (patient['provisional_mrdt'] == 3)}}> Unclear</label>
            </fieldset>
          </td> 
        </tr>
      </table>

    </div>

    <hr class="uk-divider-icon">

    <h4>B(2). Final Diagnosis</h4>

    <div class="uk-width-large">
      <label class="uk-form-label" for="final_diagnosis">Final Diagnosis</label><br>
      <table class="uk-table uk-table-small uk-margin-small uk-width-auto">
        <tr>
          <td class="uk-padding-remove">
            <fieldset class="uk-fieldset" id="final_malaria">
              <label><input class="uk-radio" type="radio" value=1 name="final_malaria" {{ 'checked' if (patient['final_malaria'] == 1)}}> Malaria Positive</label>
              <label><input class="uk-radio" type="radio" value=2 name="final_malaria" {{ 'checked' if (patient['final_malaria'] == 2)}}> Malaria Negative</label>
              <label><input class="uk-radio" type="radio" value=3 name="final_malaria" {{ 'checked' if (patient['final_malaria'] == 3)}}> Unclear</label>
            </fieldset>
          </td> 
        </tr>
      </table>
      <label class="uk-form-label" for="final_diagnosis">Final Diagnosis Notes</label><br>
      <textarea class="uk-textarea" rows="4" cols="50" name="final_diagnosis" id="final_diagnosis">{{ patient.final_diagnosis if patient }}</textarea>
    </div>

    {% if mode == 'w' %}
    <p>
      <input class="uk-button uk-button-primary" type="submit" value="{{ 'Update' if patient else 'Submit' }}">
    </p>
    {% endif %}

  </fieldset>

</form>

{% if mode == 'r' and user.is_admin %}
<form method="POST" action="{{ url_for('website.routes.patient.verify') }}" style="display: inline" onsubmit="return confirm('Are you sure you want to verify?');">
  <input type="hidden" value="{{patient.patient_id}}" name="patient_id">
  <input class="uk-button uk-button-primary uk-button-small" type="submit" value="Verify">
</form>
{% endif %}

{% endblock %}