{% extends "base.html" %}
{% block content %}

<div uk-grid>
  <div>
    <form method="POST" action="{{ url_for('website.routes.patient.new') }}" style="display: inline">
      <input class="uk-input uk-form-width-medium" name="patient_id" id="patient_id" type="text" placeholder="Add patient ID">
      <input class="uk-button uk-button-primary" type="submit" value="Add patient">
    </form>
  </div>

  <div>
    <form method="GET" action="{{ url_for('website.routes.base.home') }}" style="display: inline">
      <input class="uk-input uk-form-width-medium" name="search" id="search" type="text" placeholder="Search patient ID" value={{ search_query if search_query else "" }}>
      <input class="uk-button uk-button-primary" type="submit" value="Search">
    </form>
  </div>

</div>



<hr class="uk-divider-icon">

{% if search_query %}
<div>
  <h3>Search results for {{ search_query }}</h3>

  <form action="{{ url_for('website.routes.base.home') }}" style="display: inline">
    <input class="uk-button uk-button-default uk-button-small" type="submit" value="Clear search">
  </form>
</div>
<br>
{% endif %}

<div uk-grid>

  <div class="uk-width-auto uk-float-left uk-margin-medium-right uk-margin-medium-bottom">
    <h1><strong>New Patients ({{ patients|rejectattr("verified")|list|count }})</strong></h1>

    <table class="uk-table uk-table-divider uk-width-auto">
      <thead>
        <tr>
            <th>Patient ID</th>
            <th>Date</th>
          </tr>
      </thead>

      <tbody>
      {% for patient in patients|rejectattr("verified") %}
        <tr>
          <td>
            {{patient.patient_id}} 
          </td>
          <td>
            {{patient.date}} 
          </td>
          <td>
              <form action="{{ url_for('website.routes.patient.read', patient_id=patient.patient_id) }}" style="display: inline">
                <input class="uk-button uk-button-default uk-button-small" type="submit" value="View">
              </form>
            </td>
          <td>
            <form action="{{ url_for('website.routes.patient.update', patient_id=patient.patient_id) }}" style="display: inline">
              <input class="uk-button uk-button-default uk-button-small" type="submit" value="Update">
            </form>
          </td>
          <td>
            {% if not patient.verified %}
            <form method="POST" action="{{ url_for('website.routes.patient.delete') }}" style="display: inline" onsubmit="return confirm('Are you sure you want to delete?');">
              <input type="hidden" value="{{patient.patient_id}}" name="patient_id">
              <input class="uk-button uk-button-danger uk-button-small" type="submit" value="Delete">
            </form>
            {% endif %}
          </td>
          {% if user.is_admin %}
          <td>
            <form method="POST" action="{{ url_for('website.routes.patient.verify') }}" style="display: inline" onsubmit="return confirm('Are you sure you want to verify?');">
              <input type="hidden" value="{{patient.patient_id}}" name="patient_id">
              <input class="uk-button uk-button-primary uk-button-small" type="submit" value="Verify">
            </form>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  
  </div>

  <div class="uk-width-auto uk-float-left uk-margin-medium-right uk-margin-medium-bottom">

    <h1><strong>Verified Patients ({{ patients|selectattr("verified")|list|count }})</strong></h1>

    <table class="uk-table uk-table-divider uk-width-auto">
      <thead>
        <tr>
            <th>Patient ID</th>
            <th>Date</th>
          </tr>
      </thead>

      <tbody>
      {% for patient in patients|selectattr("verified") %}
        <tr>
          <td>
            {{patient.patient_id}} 
          </td>
          <td>
            {{patient.date}} 
          </td>
          {% if user.is_admin %}
          <td>
              <form action="{{ url_for('website.routes.patient.read', patient_id=patient.patient_id) }}" style="display: inline">
                <input class="uk-button uk-button-default uk-button-small" type="submit" value="View">
              </form>
            </td>
          <td>
            <form action="{{ url_for('website.routes.patient.update', patient_id=patient.patient_id) }}" style="display: inline">
              <input class="uk-button uk-button-default uk-button-small" type="submit" value="Update">
            </form>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% for msg in err %}
<p>{{ msg }}</p>
{% endfor %}

{% endblock %}