{% extends "base.html" %}

{% block head %}
{% if user %}
<meta http-equiv="refresh" content="1;url={{ url_for('website.routes.base.home') }}" />
{% endif %}
{% endblock %}

{% block content %}

{% if user %}
<style>pre{white-space:wrap}</style>
<div>Logged in as <strong>{{user}}</strong> (<a href="{{ url_for('website.routes.auth.logout') }}">Log Out</a>)</div>

{% else %} {# user #}

<h1><strong>Log in</strong></h1>

<form action="" method="post">
  <fieldset class="uk-fieldset uk-width-medium">
      <div class="uk-margin-small">
        <label class="uk-form-label" for="username">Username</label><br>
        <input class="uk-input uk-form-small" type="text" name="username" placeholder="username">
      </div>

      <div class="uk-margin-small">
        <label class="uk-form-label" for="password">Password</label><br>
        <input class="uk-input uk-form-small" type="password" name="password" placeholder="password">
      </div>

    <button class="uk-button uk-button-primary uk-margin-small" type="submit">Login</button>
  </fieldset>
</form>

{% for msg in err %}
<p>{{ msg }}</p>
{% endfor %}

{% endif %} {# user #}

{% endblock %}