{% extends "base.html" %}
{% block content %}

{% if user and not (user.is_admin or user.is_inviter) %}

<style>pre{white-space:wrap}</style>
<div>Already logged in as <strong>{{user}}</strong> (<a href="{{ url_for('website.routes.auth.logout') }}">Log Out</a>)</div>

{% else %}

<h1><strong>Register</strong></h1>

{% for msg in err %}
<p>{{ msg }}</p>
{% endfor %}

<form action="" method="post">
  <fieldset class="uk-fieldset uk-width-medium">

    <div class="uk-margin-small">
      <label class="uk-form-label" for="username">Username</label><br>
      <input class="uk-input uk-form-small" type="text" name="username" placeholder="username">
    </div>

    <div class="uk-margin-small">
      <label class="uk-form-label" for="fullname">Full (real) name</label><br>
      <input class="uk-input uk-form-small" type="text" name="fullname" placeholder="fullname">
    </div>

    <div class="uk-margin-small">
      <label class="uk-form-label" for="password">Password</label><br>
      <input class="uk-input uk-form-small" type="password" name="password" placeholder="password">
    </div>

    <div class="uk-margin-small">
      <label class="uk-form-label" for="password_repeat">Repeat password</label><br>
      <input class="uk-input uk-form-small" type="password" name="password_repeat" placeholder="repeat password">
    </div>

    <button class="uk-button uk-button-primary uk-margin-small" type="submit">Signup</button>

  </fieldset>
</form>

{% endif %}

{% for msg in err %}
<p>{{ msg }}</p>
{% endfor %}

{% endblock %}