{% extends "base.html" %}
{% block content %}

Resetting password for <b>{{ target }}</b>

<form class="uk-width-medium" action="" method="post">
  <div class="uk-margin-small">
    <label class="uk-form-label" for="password">Password</label><br>
    <input class="uk-input uk-form-small" type="password" name="password" placeholder="password">
  </div>
  
  <div class="uk-margin-small">
    <label class="uk-form-label" for="password_repeat">Repeat password</label><br>
    <input class="uk-input uk-form-small" type="password" name="password_repeat" placeholder="repeat password">
  </div>
  
  <button class="uk-button uk-button-primary uk-margin-small" type="submit">Reset</button>
</form>

{% for msg in err %}
<p>{{ msg }}</p>
{% endfor %}

{% endblock %}